/*--------------- COLOUR VARIABLES STARTS ---------------*/
:root {
    --primary-colour: #1D2D43;
    --secondary-colour: #B7C6E2;
    --accent-colour: #DCA11C;
    --light-colour: #F1F1E6;
}
/*--------------- COLOUR VARIABLES ENDS ---------------*/