/*--------------- HERO SECTION STYLING STARTS ---------------*/
/*--------------- INDEX, ABOUT, SUPPLEMENT (GENERAL) PAGES ---------------*/
#hero-section {
    position: relative;
    height: 80vh;
    width: 100%;
    background: var(--primary-colour);
}

#hero-bg-image {
    height: 80vh;
    width: 100%;
    background: url('../images/synapse-surge-hero-image.webp') no-repeat center center / cover;
    opacity: 0.3;
}

#hero-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50%;
    inset: 0;
    margin: 0 auto;
}

#hero-content h1 {
    font-size: 2.5rem;
}

#hero-content p {
    font-size: 1.25rem;
}

/*--------------- INDEX, ABOUT, SUPPLEMENT (GENERAL) PAGES ---------------*/
/*--------------- HERO SECTION STYLING ENDS ---------------*/