/*--------------- FONT IMPORTS STARTS ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*--------------- FONT IMPORTS ENDS ---------------*/

/*--------------- CSS GLOBAL IMPORTS STARTS ---------------*/
@import url('./global/utilities.css');
/*--------------- CSS GLOBAL IMPORTS ENDS ---------------*/

/*--------------- COLOUR VARIABLES STARTS ---------------*/
:root {
    --primary-colour: #1D2D43;
    --secondary-colour: #B7C6E2;
    --accent-colour: #DCA11C;
    --light-colour: #F1F1E6;
}

/*--------------- COLOUR VARIABLES ENDS ---------------*/

/*--------------- RESET STYLING STARTS ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------- RESET STYLING ENDS ---------------*/

/*--------------- TYPOGRAPHY STYLING STARTS ---------------*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #B7C6E2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    font-weight: 600;
}

p {
    line-height: 1.5;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

/*--------------- TYPOGRAPHY STYLING ENDS ---------------*/

/*--------------- GENERAL BUTTON STYLING STARTS ---------------*/
.button {
    border: none;
    border-radius: 999px;
}

.button-light {
    background-color: var(--secondary-colour);
}

.button-dark {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

/*--------------- GENERAL BUTTON STYLING ENDS ---------------*/

/*--------------- GENERAL LINK STYLING STARTS ---------------*/
a {
    text-decoration: none;
}

/*--------------- GENERAL LINK STYLING ENDS ---------------*/


/*--------------- NAVBAR STYLING STARTS ---------------*/
/*--------------- ALL PAGES ---------------*/
#main-nav {
    height: 60px;
    background: var(--primary-colour);
}

#main-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#main-nav img {
    display: block;
    height: 55px;
    width: 55px;
}

.main-nav-links {
    color: #B7C6E2;
    font-weight: 600;
}

#main-nav-link-left {
    font-size: 1.65rem;
}

#main-nav-link-left a {
    display: flex;
}

#main-nav-links-right {
    font-size: 1.1rem;
}

/*--------------- ALL PAGES ---------------*/
/*--------------- NAVBAR STYLING ENDS ---------------*/

/*--------------- HERO SECTION STYLING STARTS ---------------*/
/*--------------- INDEX, ABOUT, SUPPLEMENT (GENERAL) PAGES ---------------*/
#hero-section {
    position: relative;
    height: 80vh;
    width: 100%;
    background: var(--primary-colour);
}

#hero-bg-image img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}

#hero-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50%;
    inset: 0;
    margin: 0 auto;
}

#hero-content h1 {
    font-size: 3rem;
}

#hero-content p {
    font-size: 1.25rem;
}

/*--------------- INDEX, ABOUT, SUPPLEMENT (GENERAL) PAGES ---------------*/
/*--------------- HERO SECTION STYLING ENDS ---------------*/

/*--------------- DROPDOWN SECTION STYLING STARTS ---------------*/
.dropdown-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-colour);
    width: 100%;
    min-height: 50vh;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-height: 75%;
    max-height: 80%;
    background-color: var(--secondary-colour);
    border-radius: 50px;
}

.dropdown-section .select-container {
    display: flex;
    align-self: flex-start;
}

.dropdown-section .dropdown {
    font-size: 1.1rem;
    background-color: transparent;
    border-radius: 10px;
    border: none;
}

.dropdown-section option {
    background-color: #F1F1E6;
}

.dropdown-section h2 {
    color: var(--primary-colour);
    font-size: 2.5rem;
}

.dropdown-section .summary-image-container {
    display: flex;
    align-items: center;
    column-gap: 5%;
}

.dropdown-section .summary-image-container p {
    color: var(--primary-colour);
    font-size: 1.25rem;
}

.dropdown-section .summary-image-container img {
    width: 47.5%;
    height: auto;
    border-radius: 40px;
}

.dropdown-section a {
    color: var(--primary-colour)
}

/* DROPDOWN SECTION STYLING ENDS */

.hr {
    color: var(--light-colour);
}

/* FOOTER STYLING STARTS */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-colour);
    width: 100%;
    min-height: 500px;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    font-size: 2.5rem;
}

.form-container label {
    font-weight: bold;
    align-self: flex-start;
}

.form-container input[type="text"],
.form-container input[type="email"] {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light-colour);
}

.form-container input[type="submit"] {
    width: 100%;
    border: none;
    background-color: var(--light-colour);
    color: var(--primary-colour);
    border-radius: 10px;
    cursor: pointer;
}

.form-container .hr {
    color: var(--light-colour);
    width: 50%;
}

.brand-info-and-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-info-and-links h4 {
    font-size: 2rem;
}

.brand-info-and-links i {
    font-size: 2rem;
}

.site-owner-copyright p {
    font-size: 1rem;
}

/* FOOTER STYLING ENDS */