/*--------------- FONT IMPORTS STARTS ---------------*/
@import url('./global/fonts.css');
/*--------------- FONT IMPORTS ENDS ---------------*/

/*--------------- CSS GLOBAL IMPORTS STARTS ---------------*/
@import url('./global/utilities.css');
/*--------------- CSS GLOBAL IMPORTS ENDS ---------------*/

/*--------------- COLOUR VARIABLES STARTS ---------------*/
:root {
    --primary-colour: #0A1936;
    --secondary-colour: #B6BDE5;
    --accent-colour: #D3A518;
    --light-colour: #F1F1E6;
}

/*--------------- COLOUR VARIABLES ENDS ---------------*/

/*--------------- RESET STYLING STARTS ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid var(--accent-colour)
}

/*--------------- RESET STYLING ENDS ---------------*/

/*--------------- SCROLL STYLING STARTS ---------------*/
html {
    scroll-behavior: smooth;
}

/*--------------- SCROLL STYLING ENDS ---------------*/

/*--------------- TYPOGRAPHY STYLING STARTS ---------------*/
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-colour);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    font-weight: 600;
}

p {
    line-height: 1.5;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

/*--------------- TYPOGRAPHY STYLING ENDS ---------------*/

/*--------------- GENERAL LINK STYLING STARTS ---------------*/
a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--light-colour);
}

/*--------------- GENERAL LINK STYLING ENDS ---------------*/

/*--------------- GENERAL BUTTON STYLING STARTS ---------------*/
.button-link-light {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border-radius: 999px;
}

.button-link-light:visited {
    color: var(--primary-colour);
}

.button-link-light:hover {
    background-color: var(--light-colour);
}


/*--------------- GENERAL BUTTON STYLING ENDS ---------------*/

/*--------------- NAVBAR STYLING STARTS ---------------*/
/*--------------- ALL PAGES ---------------*/
#main-nav {
    height: 60px;
    background: var(--primary-colour);
    position: sticky;
    top: 0;
    z-index: 10;
}

#main-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-nav-links {
    display: flex;
    color: #B7C6E2;
    font-weight: 600;
}

#main-nav-link-left {
    font-size: 1.65rem;
}

#main-nav-link-left a {
    display: flex;
}

#main-nav-links-right {
    position: relative;
    font-size: 1.3rem;
}

#main-nav-links-right .nav-dropdown {
    position: relative;
}

#main-nav-links-right .nav-dropdown-button {
    color: var(--secondary-colour);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#main-nav-links-right .nav-dropdown-button:hover {
    color: var(--light-colour);
    cursor: pointer;
}

.dropdown-content-first-layer>a {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.dropdown-content-first-layer {
    opacity: 0;
    position: absolute;
    min-width: 200px;
    padding: 1rem 0;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: all 0.15s ease-out;
    background: var(--primary-colour);
    white-space: nowrap;
    border-radius: 10px;
}

#main-nav-links-right .nav-dropdown:hover .dropdown-content-first-layer {
    opacity: 1;
    max-height: 500px;
    transition: all 0.25s ease-in;
}

.dropdown-content-second-layer {
    position: relative;
    overflow: hidden;
    background: var(--primary-colour);
}

.dropdown-content-second-layer>a {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.nootropics-dropdown-content>a,
.minerals-dropdown-content>a,
.vitamins-dropdown-content>a {
    display: block;
}

.nootropics-dropdown-content,
.minerals-dropdown-content,
.vitamins-dropdown-content {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown-content-second-layer:hover .nootropics-dropdown-content,
.dropdown-content-second-layer:hover .minerals-dropdown-content,
.dropdown-content-second-layer:hover .vitamins-dropdown-content {
    max-height: 200px;
}

#main-nav .image-switch {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
}

#main-nav .image-switch img {
    position: absolute;
    height: 50px;
    width: 50px;
}

#main-nav .image-switch .image-normal {
    display: block;
}

#main-nav .image-switch .image-hover {
    display: none;
}

#main-nav .image-switch:hover .image-normal {
    display: none;
}

#main-nav .image-switch:hover .image-hover {
    display: block;
}

.hamburger {
    display: none;
    z-index: 10;
    cursor: pointer;
    position: relative;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: var(--secondary-colour);
    margin: 8px 0;
    transition: 0.4s;
    border-radius: 15px;
}

.hamburger:hover .bars {
    background-color: var(--light-colour);
}

.bar1:hover,
.bar2:hover,
.bar3:hover {
    background-color: var(--light-colour);
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.side-panel {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--primary-colour);
    overflow-x: hidden;
    transition: 0.5s;
}

.mobile-nav-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.mobile-nav-header {
    font-size: 2rem;
    color: var(--secondary-colour);
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.mobile-nav-header:hover {
    color: var(--light-colour);
}

.mobile-nav-first-child {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--secondary-colour);
}

.nootropics-mobile-nav a,
.minerals-mobile-nav a,
.vitamins-mobile-nav a {
    color: var(--secondary-colour);
    display: block;
    transition: 0.3s;
}

.nootropics-mobile-nav a:hover,
.minerals-mobile-nav a:hover,
.vitamins-mobile-nav a:hover {
    color: var(--light-colour);
}

.mobile-nav-second-child {
    font-size: 1.5rem;
    color: var(--secondary-colour);
}

/*--------------- ALL PAGES ---------------*/
/*--------------- NAVBAR STYLING ENDS ---------------*/

/*--------------- HERO SECTION STYLING STARTS ---------------*/
/*--------------- INDEX, ABOUT, SUPPLEMENT (GENERAL) PAGES ---------------*/
.hero-section {
    position: relative;
    height: 80vh;
    width: 100%;
    background: var(--primary-colour);
}

.hero-bg-image img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.1;
    /* animates zoom effect on loading page */
    animation-name: hero-oscillate;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* Creates the level of zoom for hero image */
@keyframes hero-oscillate {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}


.hero-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 85%;
    inset: 0;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content p {
    font-size: 1.5rem;
}

/*--------------- INDEX, ABOUT, SUPPLEMENT (GENERAL) PAGES ---------------*/
/*--------------- HERO SECTION STYLING ENDS ---------------*/

/*--------------- DROPDOWN SECTION STYLING STARTS ---------------*/
.dropdown-section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-colour);
    width: 100%;
    min-height: 50vh;
}

.dropdown-section::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--secondary-colour);
    width: 85%;
    /*Allows dropdowns to be selected */
    pointer-events: none;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-height: 75%;
    max-height: 80%;
    background-color: var(--primary-colour);
    border: 10px double var(--secondary-colour);
    border-radius: 50px;
}

.dropdown-section .select-container {
    display: flex;
    align-self: flex-start;
    color: var(--secondary-colour);
}

.dropdown-section .dropdown {
    font-size: 1.1rem;
    color: var(--secondary-colour);
    background-color: transparent;
    border-radius: 10px;
    border: none;
}

.dropdown-section .dropdown:hover {
    color: var(--primary-colour);
    background-color: var(--light-colour);
}

.dropdown-section option {
    color: var(--primary-colour);
    background-color: var(--light-colour);
}

.dropdown-section h2 {
    color: var(--secondary-colour);
    font-size: 2rem;
}

.dropdown-section .summary-image-container {
    display: flex;
    align-items: center;
    column-gap: 2.5%;
}

.dropdown-section .summary-image-container p {
    color: var(--secondary-colour);
    font-size: 1.25rem;
}

.dropdown-section .summary-image-container .footnote-link:hover {
    color: var(--light-colour);
}

.dropdown-section .summary-image-container img {
    width: 47.5%;
    height: auto;
    border-radius: 40px;
}


/* DROPDOWN SECTION STYLING ENDS */

/* FOOTER STYLING STARTS */
.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-colour);
    width: 100%;
    min-height: 50vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-height: 75%;
    max-height: 80%;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    font-size: 2.5rem;
}

.form-container label {
    font-weight: bold;
    align-self: flex-start;
}

.form-container input[type="text"],
.form-container input[type="email"] {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    border-radius: 999px;
    background-color: var(--secondary-colour);
    height: 43px;
}

.form-container .form-button {
    width: 100%;
    border: none;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    cursor: pointer;
    border-radius: 999px;
}

.form-container .form-button:hover {
    background-color: var(--light-colour);
}

.form-container .hr {
    border: var(--secondary-colour) solid 1px;
    width: 100%;
}

.brand-info-and-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-info-and-links h3 {
    font-size: 1.75rem;
}

.brand-info-and-links .svg-filter {
    filter: invert(76%) sepia(47%) saturate(357%) hue-rotate(197deg) brightness(95%) contrast(88%);
}

.brand-info-and-links .svg-filter:hover {
    filter: invert(99%) sepia(80%) saturate(250%) hue-rotate(331deg) brightness(107%) contrast(89%);
}

.site-owner-copyright p {
    font-size: 1rem;
}

/* FOOTER STYLING ENDS */

/*--------------- MEDIA QUERIES START ---------------*/
/* Medium Screens/laptops */
@media (max-width: 1199px) {

    /* Buttons/links */
    .form-button,
    .button-link-light {
        font-size: 1.375rem;
    }

    /* Navbar */
    #main-nav ul {
        padding: 0 2.5rem;
    }

    #main-nav-link-left {
        font-size: 1.5rem;
    }

    #main-nav-links-right {
        font-size: 1.15rem;
    }

    .dropdown-content-first-layer a {
        font-size: 1.1rem;
    }

    .dropdown-content-second-layer a {
        font-size: 1.05rem;
    }

    /* Hero section */
    .hero-section h1 {
        font-size: 2.3rem;
        padding: 0.95rem 0;
    }

    .hero-section p {
        font-size: 1.375rem;
    }

    /* Popular Supplements Section */
    .dropdown-container {
        padding: 2.5rem;
        margin: 2.5rem;
    }

    .select-container {
        padding: 0.9rem 0;
    }

    .dropdown-section h2 {
        font-size: 1.875rem;
    }

    .dropdown-section .summary-image-container {
        padding-bottom: 2.5rem;
    }

    .dropdown-section .summary-image-container p {
        font-size: 1.25rem;
    }

    /* Footer */
    .form-container h2 {
        font-size: 1.875rem;
    }

    .form-container input[type="text"],
    .form-container input[type="email"] {
        font-size: 1.375rem;
    }

    .brand-info-and-links h3 {
        font-size: 1.625rem;
    }

    .form-container label {
        font-size: 0.95rem;
    }

    .social-media {
        padding: 1.25rem 0
    }

    .brand-info-and-links img {
        width: 70px;
        height: 70px;
    }

    .site-owner-copyright p {
        font-size: 0.95rem;
    }
}

/* Small Screens/Tablets */
@media (max-width: 991px) {

    /* Typography */
    p {
        line-height: 1.4;
    }

    /* Buttons */
    .form-button,
    .button-link-light {
        font-size: 1.25rem;
    }

    /* Navbar */
    #main-nav ul {
        padding: 0 2rem;
    }

    #main-nav-link-left {
        font-size: 1.35rem;
    }

    #main-nav-link-left {
        display: none;
    }

    /* #main-nav .image-switch {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    } */

    #main-nav-links-right {
        font-size: 1.1rem;
    }

    .dropdown-content-first-layer a {
        font-size: 1.05rem;
    }

    .dropdown-content-second-layer a {
        font-size: 1rem;
    }

    .hamburger {
        display: block;
    }

    #main-nav-links-right {
        display: none;
    }

    /* Hero section */
    .hero-section h1 {
        font-size: 2.1rem;
        padding: 0.9rem 0;
    }

    .hero-section p {
        font-size: 1.25rem;
    }

    /* Popular Supplements Section */
    .dropdown-container {
        padding: 2rem;
        margin: 2rem;
    }

    .select-container {
        padding: 0.8rem 0;
    }

    .dropdown-section h2 {
        font-size: 1.75rem;
    }

    .dropdown-section .summary-image-container {
        padding-bottom: 2rem;
    }

    .dropdown-section .summary-image-container p {
        font-size: 1.125rem;
    }

    /* Footer */
    .form-container h2 {
        font-size: 1.75rem;
    }

    .form-container input[type="text"],
    .form-container input[type="email"] {
        font-size: 1.25rem;
    }

    .brand-info-and-links h3 {
        font-size: 1.5rem;
    }

    .form-container label {
        font-size: 0.9rem;
    }

    .social-media {
        padding: 1rem 0
    }

    .brand-info-and-links img {
        width: 65px;
        height: 65px;
    }

    .site-owner-copyright p {
        font-size: 0.9rem;
    }
}

/* Large Mobile */
@media (max-width: 767px) {

    /* Typography */
    p {
        line-height: 1.3;
    }

    /* Buttons */
    .form-button,
    .button-link-light {
        font-size: 1.125rem;
    }

    /* Navbar */
    #main-nav ul {
        padding: 0 1.5rem;
    }

    #main-nav-link-left {
        font-size: 1.2rem;
    }

    #main-nav-links-right {
        font-size: 1rem;
    }

    .dropdown-content-first-layer a {
        font-size: 0.95rem;
    }

    .dropdown-content-second-layer a {
        font-size: 0.90rem;
    }

    /* Hero section */
    .hero-section h1 {
        font-size: 1.9rem;
        padding: 0.85rem 0;
    }

    .hero-section p {
        font-size: 1.125rem;
    }

    /* Popular Supplements Section */
    .dropdown-container {
        padding: 1.5rem;
        margin: 1.5rem;
    }

    .dropdown-section .select-container {
        align-self: center;
    }

    .select-container {
        padding: 0.7rem 0;
    }

    .dropdown-section h2 {
        font-size: 1.625rem;
    }

    .dropdown-section .summary-image-container {
        flex-direction: column;
    }

    .dropdown-section .summary-image-container img {
        width: 100%;
    }

    .dropdown-section .summary-image-container {
        padding-bottom: 1.5rem;
    }

    .dropdown-section .summary-image-container p {
        font-size: 1.0625rem;
    }

    .dropdown-section .summary-image-container p:last-child {
        padding-bottom: 1rem;
    }

    /* Footer */
    .form-container h2 {
        font-size: 1.625rem;
    }

    .form-container input[type="text"],
    .form-container input[type="email"] {
        font-size: 1.125rem;
    }

    .brand-info-and-links h3 {
        font-size: 1.4rem;
    }

    .form-container label {
        font-size: 0.85rem;
    }

    .social-media {
        padding: 0.75rem 0
    }

    .brand-info-and-links img {
        width: 60px;
        height: 60px;
    }

    .site-owner-copyright p {
        font-size: 0.85rem;
    }
}

/* Small Mobile */
@media (max-width: 575px) {

    /* Typography */
    p {
        line-height: 1.2;
    }

    /* Buttons */
    .form-button,
    .button-link-light {
        font-size: 1rem;
    }

    /* Navbar */
    #main-nav ul {
        padding: 0 1rem;
    }

    #main-nav-link-left {
        font-size: 1.1rem;
    }

    #main-nav-links-right {
        font-size: 0.9rem;
    }

    .dropdown-content-first-layer a,
    .dropdown-content-second-layer a {
        font-size: 0.85rem;
    }

    .dropdown-content-first-layer a {
        font-size: 0.85rem;
    }

    .dropdown-content-second-layer a {
        font-size: 0.80rem;
    }

    /* Hero section */
    .hero-section h1 {
        font-size: 1.75rem;
        padding: 0.8rem 0;
    }

    .hero-section p {
        font-size: 1rem;
    }

    /* Popular Supplements Section */
    .dropdown-container {
        padding: 1.5rem;
        margin: 1.5rem;
    }

    .select-container {
        padding: 0.6rem 0;
    }

    .dropdown-section h2 {
        font-size: 1.5rem;
    }

    .dropdown-section .summary-image-container {
        padding-bottom: 1rem;
    }

    .dropdown-section .summary-image-container p {
        font-size: 1rem;
    }

    /* Footer */
    .form-container h2 {
        font-size: 1.5rem;
    }

    .form-container input[type="text"],
    .form-container input[type="email"] {
        font-size: 1rem;
    }

    .brand-info-and-links h3 {
        font-size: 1.25rem;
    }

    .form-container label {
        font-size: 0.80rem;
    }

    .social-media {
        padding: 0.5rem 0
    }

    .brand-info-and-links img {
        width: 55px;
        height: 55px;
    }

    .site-owner-copyright p {
        font-size: 0.8rem;
    }
}

@media (max-width: 350px) {
    .dropdown-section h2 {
        padding: 0.5rem 0;
    }

    .select-container {
        flex-direction: column;
    }

    #supplement-type-dropdown {
        padding-bottom: 0.75rem;
    }

    #supplement-dropdown {
        padding-bottom: 0.75rem;
    }
}

/*--------------- MEDIA QUERIES ENDS ---------------*/